#contact-page {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;

  .container-fluid {
    max-width: 1140px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .contact-content {
    background: url(/assets/images/banner/5.png);
    padding-bottom: 100px;
    .contact-heading {
      p {
        color: $orange;
        font-size: 20px;
        line-height: 27px;
        font-weight: 600;
      }
      h2 {
        font-size: 40px;
        line-height: 54px;
        font-weight: 700;
        span {
          display: block;
        }
      }
    }
    .contact-box {
      padding-top: 30px;
      .contact-items {
        background: $white;
        .item {
          text-align: center;
          padding: 10px 30px;
          border-radius: 4px;
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          height: 230px;
          img {
            margin-top: 10px;
            margin-bottom: 20px;
          }
          h5 {
            font-size: 20px;
            font-weight: 600;
          }
          p {
            font-size: 17px;
          }
        }
      }
    }
  }
  .contact-info {
    background: url(/assets/images/banner/5.png);
  }
  .contact-right {
    img {
      width: 100%;
    }
  }
}

/* Responsive */
/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
  #contact-page {
    .contact-box {
      row-gap: 250px;
    }
    .contact-items {
      .item {
        padding: 0px !important;
      }
    }
  }
}

/* Mobile: width < 740px */
@media only screen and (max-width: 739px) {
  #contact-page {
    .contact-box {
      row-gap: 25px;
    }
    .contact-items {
      .item {
        padding: 10px 5 0px !important;
      }
    }
  }
}
